<!DOCTYPE html>
<html lang="en">
<head>
                      <meta charset="UTF-8">
                      <meta http-equiv="X-UA-Compatible" content="IE=edge">
                      <meta name="viewport" content="width=device-width, initial-scale=1.0">
                      <link rel="stylesheet" href="static/css/style2.css">
                      <title>Lapa2</title>
</head>
<body>
                      <div class="Foto1">
                        <img src="static/img/1594975442_duonv.jpg" width="1920" height="937" alt="foto1">
                      </div>

                      <p><input type="search" class="search2" placeholder="" required style="display:block;"> </p>
<div class="mekletajs">
  <img src="static/img/lupa.png" class"searchbutton" width="40" height="40" left="40" alt="Lupa">
</div>

                      
                        
                      
                        
                      <div class="desk">

                        
                      </div>
                      <div class="dates"></div>

                      <div class="rezervacija">
                        <div class="RR">Reisu rezervācija
                      </div>

                      <div class="block">
                        <button class="btn">Rezervet Reisu</button>
                      </div>
                      

                      
                      
                      <h1>Vārds</h1>
                    
                      <div class="vards_block">
                       <input name="vards" type="text" />
                      </div>

                      <h2>Uzvārds</h2>
                      
                      <div class="uzvards_block">
                        <input name="=uzvards" type="text" />
                      </div>

                      <h3>Datums</h3>

                      <div class="datums_block">
                        <input name="datums" type="text" />
                      </div>

                      
                      
                    
                      <script src="static/js/scripts2.js"></script>          
</body>
</html>